
.row {
    max-width: $grid-width;    /*standard 1140px = 114rem (divided by 10); will be 114 rem if viewport width is >=1140px otherwise will take 100% of viewport width*/
    background-color: #eee;
    margin: 0 auto;
    
    &:not(:last-child){
        margin-bottom:$gutter-vertical;
    }
}